# Ignore build directories
/build/
*/build/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Makefile
cmake_install.cmake

# Ignore Visual Studio specific files
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.suo
*.userprefs

# Ignore compiled binaries
*.exe
*.out
*.o
*.obj
*.dll
*.lib
*.pdb
*.idb
*.ilk
.vs
.d

# Ignore temporary files
*.tmp
*.temp
*.log
*.cache

# Ignore IDE specific files
.vscode/
.idea/

# Ignore other files
*.DS_Store
Thumbs.db